body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(90deg, rgb(216, 146, 15) 0%, rgb(164, 155, 158) 100%, rgb(235, 228, 98) 100%);
    font-family: monospace, sans-serif;
    color: #0d5370;
}

.container {
    background: rgba(190, 222, 229, 0.3);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 4px 10px rgba(0, 0, 0, 0.3);
    width: 85%;
    max-width: 800px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading {
    font-size: 32px;
}

.temp-container {
    width: 100%;
    padding: 15px;
    font-weight: bold;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.author-text{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    text-align: center;
    letter-spacing: .3rem;
    text-shadow: #0d5370;
    font-family: cursive;
}


input {
    width: 60%;
    font-family: monospace;
    padding: 5px;
    outline: none;
    background: rgba(212, 205, 184, 0.944);
    border-color: rgba(175, 165, 165, 0.6);
    color: rgb(89, 89, 100);
    font-size: 18px;
}

input::placeholder {
    color: rgba(15, 25, 133, 0.356);
}

/* Responsive CSS */
@media (min-width: 600px) {
    .container {
        width: 70%;
    }

    input {
        width: 50%;
    }
}

@media (min-width: 900px) {
    .container {
        width: 60%;
    }

    input {
        width: 40%;
    }
}